/* Reset di base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, div, span {
    cursor: default; /* Imposta il cursore di default per i paragrafi, div e span */
}

/* Body */
body {
  font-family: Arial, sans-serif;
}

/* Intestazione */
header {
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1rem;
  background-color: white;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.ul-header {
  width: 80%;
}

li {
  list-style: none;
}
li:hover {
  color: blue;
}

.nav-list a {
    text-decoration: none; 
    color: inherit;
    font-style: normal;
}

/* prima section */
.h2-banner-image {
  font-size: 3.5rem;
  margin: 0;
}

.p-banner-image {
  padding: 1rem;
  font-size: 1.3rem;
}

.btn-banner-image {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  border: 0.1rem solid black;
}

.btn-banner-image:hover {
  background-color: black;
  color: white;
}

/* seconda section */
.col-sx {
  padding: 3rem 0.5rem;
}

.col-cntr {
  display: flex; /* Abilita Flexbox */
  justify-content: start; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 1rem;
  img {
    width: 90%;
  }
}

.col-dx {
  padding-top: 3rem 0;
}

/* terza section */

.title-dev-pov{
    font-size: 2.1rem;
}
#visible-slider {
    display: flex; 
    flex-wrap: nowrap; 
    overflow: hidden; 
}

.card {
    flex: 1; 
    margin: 1rem; 
    min-width: 12.5rem; 
    min-height: 20rem ;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1); 
    padding: 1.5rem; 
    background-color: white; 
    border-radius: 1rem; 
    transition: transform 0.3s ease; 
}


.navigation-dots {
    text-align: center; 
    margin-top: 2rem; 
}

.dot {
    display: inline-block; 
    width: 1rem; 
    height: 1rem; 
    margin: 0 0.5rem;
    border-radius: 50%; 
    background-color: gray; 
    cursor: pointer; 
}

.dot.active {
    background-color: blue; 
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
}

/* quarta sezione */
.title-collection{
    font-size: 2.1rem;
    padding: 3rem 0;
}

.img-container{
    width: 100%;
    padding-bottom: 2rem;
}
img{
    width: 100%;
}

/* quinta sezione */

.input-news {
    width: 30rem;
    padding: 0.5rem 1rem;     
    border: none; 
    background-color: rgb(229, 227, 227); 
    border-radius: 4px; 
}
.hr-news{
    width: 20rem;
}

.input-news:focus {
    outline: none; /* Rimuove il contorno predefinito quando l'input è attivo */
}
.news-btn {
    background-color: transparent; /* Rende il pulsante trasparente */
    border: none; /* Rimuove il bordo del pulsante */
    padding-bottom: 0.5rem;
}

.news-btn:active {
    box-shadow: none; /* Rimuove l'ombra quando il pulsante è cliccato */
    transform: scale(0.95); /* Riduce leggermente il pulsante quando viene cliccato */
}
 .icon-news{
    color:#04df6c ;
    padding: 0.5rem;
    border: 0.1rem solid rgb(212, 212, 212);
    border-radius: 2rem;
 }
 .newsletter-container{
    width: 25rem;
    h2{
        font-size: 4rem;
    }
    }
 

/* Media query per tablet e desktop */
@media (min-width: 768px) {
  .ul-header {
    width: 100%;
  }

  /* prima section */
  .h2-banner-image {
    font-size: 3.5rem;
    margin: 0;
  }

  .p-banner-image {
    padding: 1rem;
    font-size: 1.3rem;
  }

  .btn-banner-image {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border: 0.1rem solid black;
  }
  .btn-banner-image:hover {
    background-color: black;
    color: white;
  }

  /* seconda section */
  .col-sx {
    padding: 3rem 1rem;
  }

  .col-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    img {
      width: 90%;
    }
  }

  .col-dx {
    padding: 3rem 1rem;
  }

    /* terza section */
    .text{
        height: 18rem;
    }

    /* quarta sezione */
    .faq-text{
        font-size: 1rem;
    }


    /* quinta sezione */

.input-news {
    width: 30rem;
    padding: 0.5rem 1rem;     
    border: none; 
    background-color: rgb(229, 227, 227); 
    border-radius: 4px; 
}
.hr-news{
    width: 30rem;
}

.input-news:focus {
    outline: none; /* Rimuove il contorno predefinito quando l'input è attivo */
}
.news-btn {
    background-color: transparent; /* Rende il pulsante trasparente */
    border: none; /* Rimuove il bordo del pulsante */
    padding-bottom: 0.5rem;
}

.news-btn:active {
    box-shadow: none; /* Rimuove l'ombra quando il pulsante è cliccato */
    transform: scale(0.95); /* Riduce leggermente il pulsante quando viene cliccato */
}
 .icon-news{
    color:#04df6c ;
    padding: 0.5rem;
    border: 0.1rem solid rgb(212, 212, 212);
    border-radius: 2rem;
 }
 .newsletter-container{
    width: 34rem;
    h2{
        font-size: 5rem;
    }
    }
}

@media (min-width: 1024px) {
  .h2-banner-image {
    font-size: 6rem;
    margin: 0;
  }
  .p-banner-image {
    padding: 4rem 5em;
    font-size: 1.5rem;
  }
  .btn-banner-image {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border: 0.2rem solid black;
  }

  .btn-banner-image:hover {
    background-color: black;
    color: white;
  }

  /* seconda section */
  .col-sx {
    padding: 3rem 4rem;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  .col-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    img {
      width: 80%;
    }
  }

  .col-dx {
    padding: 3rem 4rem;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }
  }

  /* terza section */
  .card {
    flex: 1 1 45%; /* Su desktop, ogni card occuperà il 45% della larghezza */
    
}
.title-dev-pov{
    font-size: 4rem;
}
.text{
    height: 18rem;
}

/* quarta sezione */
.title-collection{
    font-size: 4rem;
}
.img-faq{
img{
    margin-top: 10rem;
}
}

.product{
    border-right: 0.03rem solid rgba(0, 0, 0, 0.399);
}
.ship{
    border-right: 0.03rem solid rgba(0, 0, 0, 0.399);
}
/* quinta section */

.newsletter-container{
width: 34rem;
h2{
    font-size: 5rem;
}
}
.input-news {
    width: 30rem;
    padding: 0.5rem 1rem;     
    border: none; 
    background-color: rgb(229, 227, 227); 
    border-radius: 4px; 
}
.hr-news{
    width: 30rem;
}

.input-news:focus {
    outline: none; /* Rimuove il contorno predefinito quando l'input è attivo */
}
.news-btn {
    background-color: transparent; /* Rende il pulsante trasparente */
    border: none; /* Rimuove il bordo del pulsante */
    padding-bottom: 0.5rem;
}

.news-btn:active {
    box-shadow: none; /* Rimuove l'ombra quando il pulsante è cliccato */
    transform: scale(0.95); /* Riduce leggermente il pulsante quando viene cliccato */
}
 .icon-news{
    color:#04df6c ;
    padding: 0.5rem;
    border: 0.1rem solid rgb(212, 212, 212);
    border-radius: 2rem;
 }


}
